{% load staticfiles %}
<html>
    <head>
        <title>Factory Picus</title>
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Factory Picus</a></h1>
        </div>
        <div>
        <p> <a href="{% url 'jingbai'  %}">jingbai</a></p>
        <p> <a href="{% url 'tbo'  %}">TBO</a></p>
        <p> <a href="{% url 'bilang'  %}">bilang</a></p>
    </div>
<!-- 
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %} -->
    </body>
</html>